<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><service android:name="tw.techtarian.browser.FixtureAutofillService" android:exported="true" android:permission="android.permission.BIND_AUTOFILL_SERVICE" android:label="QA Passwords"><intent-filter><action android:name="android.service.autofill.AutofillService" /></intent-filter><meta-data android:name="android.autofill" android:resource="@xml/qa_autofill_service" /></service></application></manifest>